body{
    background-color: #343A40;
    color: whitesmoke;
}

#b1{
    transition: all 0.4s;
}
#b1:hover
{
    transform: scale(1.03);
    background-color: #343A40;
    color: white;
}
#del{
    transition: all 0.4s;
}
#del:hover{
    transform: scale(1.03);
}
