{% load static %}
<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'menu/style.css' %}">

    <title>Document</title>

</head>
<body>

        
        <nav class="navbar navbar-dark" style="background-color: #9376E0">



            <a href="{% url 'menu:index' %}" class="navbar-brand">Restaurant</a>






        </li>



            <div class="navbar">
                <form class="form-check-inline">
                    <a class="nav-item active nav-link text-white" href="{% url 'menu:create_item' %}"> Add item </a>
                    <a class="nav-item active nav-link text-white" href="{% url 'register' %}"> Register </a>
                    <a class="nav-item active nav-link text-white" href="http://127.0.0.1:8000/admin"> Admin </a>
                    {% if user.is_authenticated %}
                        <a class="nav-item active nav-link text-bg-light" href="{% url 'logout' %}"> Logout </a>
                        <a class="nav-item active nav-link text-bg-light" href="{% url 'profile' %}">Profile</a>
                    {% else %}
                        <a class="nav-item active nav-link text-white" id="login" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </form>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                 </div>
            {% endfor %}
        {% endif %}
    {% block body %}
    {% endblock %}

</body>
</html>