{% extends 'menu/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header  text-white" style="background-color: #343A40">
                        <div class="card-title">
                            <h2>Login</h2>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: #9376E0">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group" >
                                    {{ field.name }}
                                    {{ field }}
                                </div>

                            {% endfor %}
                            <button class="text-white" style="background-color: #343A40" type="submit">Login</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}











